<html>
    <head>
        <link rel="stylesheet" href="/static/Semantic-UI-CSS/semantic.min.css">
        <title>{{ title }}</title>
    </head>
    <body>
        <div style="margin-top: 15px"></div>
        <div class="ui text container">
            <div>
                <h1 class="ui"> Maya Ebsworth Senior Design Project</h1>
            </div>
            <hr>
            {% block content %}{% endblock %}

        </div>
        
        

         <script src="/static/Semantic-UI-CSS/semantic.min.js"></script>
    </body>
</html>
