{% extends "base.html" %}
{% block content %}
    <a href="{{ url_for('upload') }}">
        <button class="ui button">Upload image</button>
    </a>

    <div class="ui text container">
        <h1 class="ui header"> About</h1>
        Artists who create abstract artwork are not trying to depict visual reality. So what do we see when we look at abstract art? One who is more artistically experienced might study the use of paint, space, and color, but a more general viewer might see a familiar scenes or objects in an abstract image. Many people can interpret the same piece very differently. Our perception can be influenced by which emotions we connect to different colors, what we recognize in the image, what we know about the context of the artwork, and more. 
    <br>
        I replicated the abstract art viewing experience by using image recognition algorithms on images of abstract artwork. While image recognition has limitations, in a way, it mimics the human tendency to find familiar imagery in unfamiliar images. I tested image recognition on images that are not intended to be realistic to see what kind of meaning they produced. I wanted to see if this meaning is congruent with any human viewer’s perception of the artwork.
    <br>
        How does our software communicate with us? I enhanced the experience of receiving the meaning that the software finds in the image by using natural language generation (NLG) to help translate the meaning into something more creative. The definition of NLG is the process of creating natural language structures from a machine representation system such as a knowledge base or logical form. Once the image of the artwork is translated into a list of recognizable terms, I used NLG to transform the list into something that sounds more like a human description. One may disagree that the resulting text may be called poetry, because to do so, one would have to consider the software to be the poet; however, in this process I could define myself as the poet, and this process of artwork selection, image recognition implementation, and natural language generation is my writing process.
    </div>

{% endblock %}
